{
  "env": {
    "development": {
      "presets": [
        ["es2015", { "modules": false }]
      ],
      "plugins": [
        "external-helpers",
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["istanbul", ["transform-class-properties", { "spec": true }]]
    }
  }
}
