{
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
        "**/*.js"
    ],
    "require": [
      "babel-register"
    ],
    "extension": [
      ".js"
    ],
    "cache": true,
    "report-dir": "./coverage",
    "sourceMap": false,
    "instrument": false
}
